.containerLogin{
	width:350px;
	margin-top:10%;
}
body{
	background:#F2F2F2;
}

.form-group {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 320px;
}
.form-group h2{
	text-align:center;
}
body {
  padding-top: 70px;
}
.addCliente{
	width:400px;
	margin:auto;
}
#profile {
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
}
.panel{
	padding-bottom:20px;
}
iframe{
	width:100%;
	height:100%;
	border:none;
	margin-left: -14px;
	margin-top: -10px;
}
#cc
{
    width: 50%;
    display: inline-block;
}
#form-reserva input{
    width:auto;
}
#form-reserva {
    margin-left: 3%;
}
.hab
{
    overflow-y: scroll;
    height: 170px;
    width: 31%;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    padding: 1%;
}
.list-prod
{
overflow-y: scroll;
height: 170px;
width: 70%;
border: 1px solid black;
-webkit-border-radius: 5px;
padding: 1%;
}
#form-reserva .cant-prod{
    width:10%
}
#precio{
    font-family: cursive;
font-weight: bold;
margin-top: 1%;
}